<!-- implemented in Loginflow->showLoginScreen(void): string -->
<div>
    <div class="jumbotron">
        <h1 class="display-4">{{ header|striptags }}</h1>
        <hr class="my-4">
        <div class="alert alert-warning" role="alert">
            <p>{{ error|striptags }}</p>
        </div>
        <p class="lead">
            <a class="btn btn-primary" href="{{ returnPath|striptags }}" target="_self">{{ returnLabel|striptags }}</a>
        </p>
      </div>
</div>