.explain {
    font-size: 10px;
    min-height: 50px;
    text-align: justify;
    vertical-align: top;
    font-style: italic;
}

.glpisaml textarea {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    width:100%;
    min-height:150px;
    font-size:10px;
}

.glpisaml input {
    font-size:12px;
}